.join-container {
    padding: 30px;
    border: 4px solid white;
}

#title {
    height: 200px;
    border: 1px black solid;
    background-image: url(../Tokyo_2020_Olympics_logo.png);
    background-position: center top;
    background-size: cover;
}