<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/25ae758d22.js" crossorigin="anonymous"></script>


    <title>올림픽 관심일정 모아보자!</title>
</head>
<body>
    <div class="columns">
        <div class="column is-2">
            <div class="title" style="height: 200px; border: 1px black solid;">
                타이틀
            </div>
            <!-- 로그인 Form -->
            {% if login == False %}
            <div id="login-container" class="block" style="height: 150px; border: 1px black solid;">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                    <input class="input" id="login-id" type="id" placeholder="ID">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                    </p>
                </div>

                <div class="field">
                    <p class="control has-icons-left">
                    <input class="input" id="login-pw" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    </p>
                </div>
                <div class="login-buttons">
                    <div class="field" style="float: right;">
                        <p class="control">
                        <button class="button is-success" id="login-button" onclick="loginTry()">
                            로그인
                        </button>
                        </p>
                    </div>
                    <div id="join-button" class="field" style="float: right; margin-right: 10px;">
                        <p class="control">
                        <button class="button is-success modal-button" data-target="membership-modal" aria-haspopup="true" onclick="clickJoinButton()">
                            회원가입
                        </button>
                        </p>
                    </div>
                </div>
            </div>
            {% else %}
            <div id="login-container" class="block" style="height: 150px; border: 1px black solid;">
                <div class="title is-4" style="text-align: center;">
                    {{username}}님, 환영합니다.
                </div>
                <div class="login-buttons">
                    <div class="field" style="float: right;">
                        <p class="control">
                        <button class="button is-success" id="logout-button" onclick="logoutTry()">
                            로그아웃
                        </button>
                        </p>
                    </div>
                    <div id="bookmark-button" class="field" style="float: right; margin-right: 10px;">
                        <p class="control">
                        <button id="my-favorite" class="button is-success" onclick="showMyBookmark()">
                            내 즐겨찾기
                        </button>
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- 회원가입 창 (Modal 이용) -->
            <div id="membership-modal" class="modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="join-container">
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                            <input id="join-id-input" class="input" type="id" placeholder="ID">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                            <input id="join-pw-input" class="input" type="password" placeholder="Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                            <button class="button is-success" onclick="postJoin()">
                                가입하기
                            </button>
                            </p>
                        </div>
                    </div>
                </div>
                <button class="modal-close is-large join-cancel" aria-label="close"></button>
            </div>
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu"  style="width: 200px;">
                    <span id="dropdown-main">종목을 선택해주세요.</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        {% for i in sportlist %}
                    <a href="#" class="dropdown-item" onclick="sportsChange('{{i}}')">
                        {{i}}
                    </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div id="select-item" class="title" style="height: 100px; border: 1px black solid; text-align: center; line-height: 100px; vertical-align: middle;">
                선택한 종목
            </div>

            <div class="block" style="border: 1px black solid;">
                <table id="schedule-table" class="table">
                    <thead>
                      <tr>
                        <th><abbr title="My">즐겨찾기</abbr></th>
                        <th style="width: 170px;"><abbr title="Date" style="width: 5px;">날짜</abbr></th>
                        <th style="width: 420px;">종목 이름</th>
                        <th style="width: 100px;"><abbr title="matchState">진행 상황</abbr></th>
                        <th style="width: 230px;"><abbr title="entry">선수</abbr></th>
                        <th style="width: 100px;"><abbr title="matchResult">결과</abbr></th>
                      </tr>
                    </thead>
                    <tbody id="schedule-table-body">
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</body>
<!-- JS 연결 -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>